/* alfa-slab-one-regular - latin */
@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/alfa-slab-one-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Alfa Slab One Regular'), local('AlfaSlabOne-Regular'),
  url('fonts/alfa-slab-one-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/alfa-slab-one-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/alfa-slab-one-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/alfa-slab-one-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/alfa-slab-one-v10-latin-regular.svg#AlfaSlabOne') format('svg'); /* Legacy iOS */
}


/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
  url('fonts/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
  url('fonts/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
  url('fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
  url('fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
  url('fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Lato Black'), local('Lato-Black'),
  url('fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
  url('fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family:Lato;
  padding:0;
  margin:0;
  color:#555;
  font-weight:300;
  line-height:26px;
}

/**Login page */
.title-login {
  text-align: center;
  text-transform: uppercase;
  font-family:Alfa Slab One;
  color:#000;
  font-size: 3.94em;
  margin-left: 0.05em;
  letter-spacing:4px;
  line-height:100px;
}

.login-form {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}



.login-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.login-content label {
  text-align:right;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

.text-label {
  width: 4em;
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: Uppercase;
  background-color: white;
  left: 22em;
  bottom: 0.7em;
}

.login-content label:nth-child(2) .text-label {
  width: 8em;
  left: 18em;
}

.in-log-wrap {
  width: 100%;
  position: absolute;
}

.in-log-wrap input {
  width: 95%;
  height: 2.5em;
  padding: 0em 0.5em;
  border: 1px solid black;
  border-radius: 5px 5px;
  font-size: 1.15em;
  font-family:Lato;
  color:#333;
  font-weight:300
}

.button{
  width: 22em;
  line-height:60px;
  border:1px solid #fff;
  background:#000;
  color:#fff;
  border-radius:10px;
  text-transform:uppercase;
  font-size:20px;
  font-weight:400;
  cursor:pointer;
  transition: all 0.5s;
}

.button:hover {
  background:#fff;
  border:1px solid #000;
  color:#000;
}

@media screen and (max-width: 28.125em) {
  .in-log-wrap {
    width: 98%;
  }

  .button {
    width: 310px;
  }

  .text-label {
    left: 14em
  }

  .login-content label:nth-child(2) .text-label {
    left: 10em;
  }

}
/**Modal*/
.wrap-modal {
  position: absolute;
  left: 0;
  background-color: #0000009c;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: white;
  right: 0;
  width: 70%;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Xclose {
  cursor: pointer;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
  font-size: 3em;
}

.modal-content {
  position: relative;
  top : 1em;
}

h3 {
  color: black;
  font-family: 'Alfa Slab One';
}

.wrap-form-ele {
  position: relative;
  width: 41%;
  height: 4em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  border-radius: 5px 5px;
  padding: 1%;
}

label {
  width: 5em;
  background-color: white;
  z-index: 1;
  position: absolute;
  right: 1em;
  bottom: 3.25em;
}

.login-content label{
  width: 27em;
  margin-left: 1em;
}

.wrap-input {
  position: relative;
  width: 62em;
  left: 17.5em;
}

.modal-content label:nth-child(1){
  bottom: 4.8em;
  left: 21em;
}

.wrap-input:nth-child(3) > label {
  bottom: 12.5em;
  left: 19em;
  width: 7em;
}

.wrap-form-ele:nth-child(4) > label {
  bottom: 4.5em;
  left: 18em;
  width: 8em;
}

.modal-content input, .modal-content textarea
 {
  padding: 1em;
}

.modal-content textarea{
  width: 31.2em;
  height: 12em;
}

.align-button {
  position: absolute;
  bottom: 0.25em;
  left: 21%;
  display: flex;
  justify-content: space-between;
  width: 55%;
}
.align-button button{
  width: 7em;
  height: 2em;
}

.align-button button:nth-child(1):hover{
  color: white;
  background-color: green;
}

.align-button button:nth-child(2):hover{
  color: white;
  background-color: orange;
}

.align-button button:nth-child(3):hover{
  color: white;
  background-color: red;
}


.wrap-form-ele:nth-child(6) {
  display: flex;
  justify-content: center;
  width: 41.5%;
}

/**Css Responsive mobile first*/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  color: black;
  font-family: 'Alfa Slab One';
  line-height: 1em;
}

.tickets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-tickets {
  margin-bottom: 0.9em;
}

.list-button {
  display: flex;
  flex-wrap: wrap;
}

.list-button button {
  background-color: #555;
  color:#eee;
  line-height: 20px;
  height: 2.5em;
  font-size: 0.9em;
}

.list-button button:hover {
  color: #555;
}

/**Credits*/
.timer {
  position: relative;
  border: solid #eee 1px;
  border-radius: 5px 5px;
  box-shadow: #00000052 5px 5px 5px;
  width: 18em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 2em;

}

.timer h2 {
  position: absolute;
  font-size: 0.9em;
  background-color: white;
  bottom: 5.7em;
  width: 13em;
  text-align: center;
}

.content-timer {
  font-size: 3em;
  position: relative;
  bottom: 0.25em;
}

.credits-button {
  width: 15em;
  margin-top: 1em;
}

.wrap-intervention {
  position: relative;
  top: 1.5em;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intervention {
  position: relative;
  border: solid #00000045 1px;
  border-radius: 5px 5px;
  width: 18em;
  box-shadow: #00000052 5px 5px 5px;
}

.intervention h3 {
  font-size: 1em;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  bottom: 0.5em;
  left: 0.5em;
}

.intervention em {
  position: absolute;
  top: 0.5em;
  right: 0.25em;
}

.intervention p {
  position: relative;
  left: 0.5em;
  top: 0.5em;
  font-size: 1.2em;
}

.add {color: green}
.sous {color : red}